.content-comments {
  padding: 10px;
}

.header-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.header-comments .comment-p {
  font-family: inherit;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
}

.content-arrow-bottom {
  padding-right: 50px;
  color: #242424;
  cursor: pointer;
}

.content-config-comments {
  position: absolute;
  right: 0;
  top: 30px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  visibility: hidden;
  opacity: 0;
  display: none;
  
}

.custom-comments {
  position: absolute;
  top: 0;
  left: 0;
  padding: 17.5px;
  width: 100%;
  border: 1px solid lightgray;
  background: rgb(236, 236, 236);
  border-radius: 10px;
  outline: none;
}

.content-config-comments button {
  border: none;
  padding: 15px 5px;
  cursor: pointer;
}

.clear {
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-sub-comment {
  width: 100%;
  border: none;
  padding: 10px;
  border-radius: 10px;
  background: #d7d7d7;
  margin-top: 20px;
}

.box-comment {
  background: #f2f2f2;
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 10px 0 10px 0;
  resize: none;
  width: 90%;
  outline: none;
  padding: 10px;
  font-size: 18px;
  font-family: inherit;
}

.box-interative {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 20px;
}

.content-like-and-dLike {
  display: flex;
}

#heart-svg {
  color: #f21010;
  cursor: pointer;
}

.content-disLike {
  transform: rotate(180deg);
  margin-left: 10px;
}

#comment-svg {
  color: #66aeff;
  cursor: pointer;
}

.content-username-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 35px;
}

.img-perfil-comments {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 70px;
}

.box-heart {
  display: flex;
}

.box-heart p {
  padding-left: 5px;
  font-family: inherit;
  color: #646464;
  font-weight: lighter;
  font-size: 16px;
  text-align: center;
}

/* Responsive */
@media screen and (max-width: 480px) {
  .content-comments {
    padding: 0px;
  }

  .box-comment {
    border-radius: 0px;
    margin: 0px;
    width: 100% !important;
    padding: 15px;
  }
}
