.content-home {
  width: 100%;
}

.header-page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-page input {
  width: 300px;
  height: 30px;
  padding: 10px 20px;
}

.content-home h1 {
  padding: 10px;
}

.content-main-post {
  overflow: hidden;
}

.content-post {
  border-top: 2px solid rgba(0, 0, 0, 0.119);
  padding: 10px;
  overflow-y: scroll;
  height: 90vh;
}

/* Responsive */
@media screen and (max-width: 480px) {
  .header-page input {
    width: 200px;
  }

  .content-post {
    padding: 0;
  }
}
