.contain-user-perfile {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1000;
}

.content-btn-back-profile {
    width: 100%;
    padding: 10px;
}

.btn-back-perfil {
    width: 50px;
    height: 30px;
    font-size: 18px;
    text-transform: uppercase;
}

.content-comments-perfil {
    overflow: auto;
    height: 100%;
}